
body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  header {
    height: 10vh;
    width: 100%;
  }
  header nav {
    margin-left: 10%;
    display: flex;
    align-items: center;
  }
  header nav img {
    width: 5%;
    height: 5vh;
    margin-right: 1vw;
    cursor: pointer;
  }
  header nav h2 {
    color: gray;
    cursor: pointer;
  }
  
  .top {
    text-align: center;
    margin-top: 5vh;
}
  .top h2 {
      margin-top: 3vh;
  }
  .version button {
    border-radius: 10px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
    padding: 1% 2%;
  }
  .version button:nth-child(1) {
    background-color: white;
    border: 1px solid #68f54c;
  }
  .version button:nth-child(1):hover {
    background-color: #68f54c;
    border: 3px solid #68f54c;;
    color:white;
  }
  .version button:nth-child(2) {
    background-color: #08ecd9;
    border: 1px solid #08ecd9;
  }
    
    .file-upload {
      background-color: #f6f7fa;
      border-radius: 30px;
      width: 50%;
      margin: 5vh auto;
      padding: 20px;
    }
    
    .file-upload-content {
      display: none;
      text-align: center;
    }
    
    .file-upload-input {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }
    
    .image-upload-wrap {
      position: relative;
      overflow: hidden;
      border: 4px solid black;
      width: 100%;
      height: 50vh;
      margin: auto;
    }
    
    .image-dropping,
    .image-upload-wrap:hover {
      background-color: rgba(0, 0, 0, 0.8);
      border: 4px solid #ffffff;
    }
    
    .image-title-wrap {
      padding: 0 15px 15px 15px;
      margin-top: 3vh;
      color: #222;
    }
    
    .drag-text {
      position: absolute;
      top: 10vh;
      left: 8vw;
      text-align: center;
      cursor: pointer;
    }
    .drag-text img {
      width: 20%;
      height: 15%;
    }
    .drag-text h3 {
      font-weight: 100;
      font-size: 25px;
      text-transform: uppercase;
      color: gray;
      padding: 0;
    }
    
    .ongoing {
      width: 100%;
      height: 100%;
      margin: auto;
    }
    .ongoing img {
      width: 15%;
      height: 15%;
      display: block;
      margin: 5% auto 10% auto;
      animation: law 1s ease-in infinite alternate;
    }
    @keyframes law {
      0% {
        width: 10%;
        top: 0;
      }
      95% {
        width: 15%;
      }
      to {
        width: 25%;
        height: 25%;
      } 
    }
  
    .ongoing_text {
      text-align: center;
      font-size: 20px;
    }
  
    .file-upload-image {
      height: 200px;
      width: 200px;
      margin: auto;
    }
    .star-image {
      height: 200px;
      width: 200px;
      margin: auto;
    }
    
    .remove-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: gray;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid gray;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    .remove-image:hover {
      background: rgba(0, 0, 0, 0.7);
      border-bottom: 4px solid rgba(0, 0, 0, 0.7);
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }
    
    .remove-image:active {
      border: 0;
      transition: all .2s ease;
    }
  
    .result-message span {
      font-size: 20px;
      color: gray;
      font-weight: 600;
    }
    .result-message img {
      width: 5%;
      height: 10%;
      align-self: center;
      margin-right: 1vw;
    }
    .result-message h3 {
      font-size: 25px;
      font-weight: bold;
    }
    .result-message p {
      line-height: 1.5;
      font-size: 15px;
      color: gray;
      font-weight: 600;
    }
  
    .score {
      font-weight: bold;
    } 
    .score:nth-child(1) {
      color: rgba(207, 63, 63, 0.8);
    }
    .score:nth-child(2) {
      color: rgba(73, 196, 24, 0.8);
    }
    .score:nth-child(3) {
      color: rgba(33, 106, 148, 0.8);
    }
    .score:nth-child(4) {
      color: rgba(240, 227, 50, 0.8);
    }

    .ad_footer1 {
      width: 320px;
      margin: auto;
    }
    .ad_footer2{
      padding: auto;
    }
    .ad_footer3{
      margin: auto;
    }
    .ad_header {
      width: 100%;
      height: 50px;
    }

    @media screen and (max-width: 760px) {
      header {
        height: 20vh;
      }
      header nav img {
        width: 12%;
        height: 7vh;
        margin-right: 3vw;
      }
      header nav h2 {
        font-size: 20px;
      }
      .version button {
        border-radius: 10px;
        font-size: 10px;
        padding: 3% 4%;
      }
      .top h2, .top h1 {
        font-size: 15px;
    }
    .file-upload {
      width: 95%;
    }
    .drag-text {
      left: 3%;
    }
    .drag-text img {
      width: 15%;
    }
    .drag-text h3 {
      font-size: 15px;
    }
    .file-upload-image {
      height: 200px;
      width: 160px;
    }
    .star-image {
      height: 200px;
      width: 160px;
    }
    .result-message span {
      font-size: 15px;
    }
    .result-message img {
      width: 13%;
      height: 10%;
      margin-right: 3vw;
    }
    .result-message h3 {
      font-size: 15px;
    }
    .result-message p {
      font-size: 12px;
    }
    .score {
      font-size: 12px;
    } 
  } 